@import url('reset.css');
@import url('layouts.css');
@import url('modules.css');
@import url('state.css');

* {
  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
  background-color: #c9af98;
}

#pageOne,
#pageTwo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

section {
  width: 32%;
  padding-bottom: 1%; 
  margin-bottom: 1%; 
  text-align: center;
}

h2 {
  padding-bottom: 5px;
}

img {
  width: 50%;
  height: 200px;
} 